@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --spotify-black: #191414;
  --spotify-white: #ffffff;
  --spotify-green: #1db954;
}
html, body {
  background-color: var(--spotify-black);
  font-family: var(--font-inter);
}

body {
  background-color: #191414;
}
